{% extends "::base.html.twig" %}

{% block body %}
    <div class="global section">
        <div class="Pict">
            <div class="picture col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--<div class="logo"></div>-->
            </div>
        </div>
        <div class="promo">
            <div class="container">
                <div class="promoBox col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="pBox">
                        {#
                            la vérification de l'existance d'un attribut est très important.
                            Si l'attribut n'existe pas on aura une erreur de symfony qui cherche à afficher quelquechose
                            d'inexistant.
                            Pense bien à vérifier l'attribut comme je l'ai fait ci-dessous.
                         #}
                        {% if planteSemaine.name is defined %}
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>PLANTE DE LA SEMAINE</p>
                            </div>
                            <a href="{{ path("productInfo", {"id": planteSemaine.id}) }}">
                                <img src="{{ vich_uploader_asset(planteSemaine, 'imageFile') }}">
                            </a>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>Nom : {{ planteSemaine.name }}</p>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>Prix normal : <font color="black"> <del> {{ planteSemaine.price }} € </del> </font></p>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>Nouveau Prix :</p>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>Stock : {{ planteSemaine.stock }} pièces</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="promoBox col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="pBox">
                        {% if planteMois.name is defined %}
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>PLANTE DU MOIS</p>
                            </div>
                            <a href="{{ path("productInfo", {"id": planteMois.id}) }}">
                                <img src="{{ vich_uploader_asset(planteMois, 'imageFile') }}">
                            </a>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>Nom : {{ planteMois.name }}</p>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>Prix normal : <font color="black"> <del> {{ planteMois.price }} € </del> </font></p>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>Nouveau Prix :</p>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>Stock : {{ planteMois.stock }} pièces</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="promoBox col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="pBox">
                        {% if accessoireSemaine.name is defined %}
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>ACCESSOIRE DE LA SEMAINE</p>
                            </div>
                            <a href="{{ path("productInfo", {"id": accessoireSemaine.id}) }}">
                                <img src="{{ vich_uploader_asset(accessoireSemaine, 'imageFile') }}">
                            </a>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>Nom : {{ accessoireSemaine.name }}</p>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>Prix normal : <font color="black"> <del> {{ accessoireSemaine.price }} € </del> </font></p>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>Nouveau Prix :</p>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>Stock : {{ accessoireSemaine.stock }} pièces</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="promoBox col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="pBox">
                        {% if accessoireMois.name is defined %}
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>ACCESSOIRE DU MOIS</p>
                            </div>
                            <a href="{{ path("productInfo", {"id": accessoireMois.id}) }}">
                                <img src="{{ vich_uploader_asset(accessoireMois, 'imageFile') }}">
                            </a>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>Nom : {{ accessoireMois.name }}</p>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>Prix normal : <font color="black"> <del> {{ accessoireMois.price }} € </del> </font></p>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>Nouveau Prix :</p>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>Stock : {{ accessoireMois.stock }} pièces</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="carou">
            <div class="container">
                <div class="caroumiddle col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cycle-slideshow" data-cycle-fx="carousel" data-cycle-timeout="1400"
                    data-cycle-carousel-visible="9" data-cycle-carousel-fluid=true>
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower1.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower2.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower3.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower4.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower5.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower6.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower7.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower8.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower9.jpg">
                        <img class="cycle-carousel" src="/img/carouselAccueil/flower10.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="map col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="map-canvas col-lg-offset-1 col-lg-6 col-md-offset-6 col-md-6 col-sm-6 col-xs-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d5570764.080696398!2d1.2369705010943213!3d47.018648987109856!3m2!1i1024!2i768!4f13.1!2m1!1sFLORIS+agora!5e0!3m2!1sfr!2sfr!4v1425165731951"></iframe>
                </div>
                <div class="map_info col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-4 col-xs-4">
                    <p>Horaire magasins Floris</p>
                    <p>Lundi : 9h - 18h</p>
                    <p>Mardi : 9h - 18h</p>
                    <p>Mercredi : 9h - 18h</p>
                    <p>Jeudi : 9h - 18h</p>
                    <p>Vendredi : 9h - 18h</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
