{% extends "::base.html.twig" %}

{% block body %}
<div class="container" style="margin-top: 20px;">
    {# Search menu #}
    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 searchPannel" id="searchPannel">
        {{ form(formSearch) }}
    </div>

    {# Product view #}
    <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
        {% for product in products %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 product">
                <div class="infoProduct">
                    <a href="/produit/{{ product.id }}"><h4>{{ product.name }}</h4></a>
                    <a href="{{ path("productInfo", { 'id': product.id }) }}">
                        <div class="align-left">
                            <img style="width: 100%;" src="{{ vich_uploader_asset(product, 'imageFile') }}"
                                 alt="{{ product.name }}" />
                        </div>
                    </a>
                    <br />Description : {{ product.description }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="barre"></div>
{% endblock %}
